h1,h2,h3,body,ul,li { margin: 0; padding: 0 }
body {
  font-family: Verdana, Geneva, sans-serif;
  background: #E9E9Ec;
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}
a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: blue;
}
b {
  font-weight: 500;
}
h1,h2,h3 {
  font-weight: 300;
}
h1 {
  margin-top: 0.25em;
}
h4 {
  font-weight: 300;
  font-size: 22px;
  margin: 18px 0;
}
small {
  color: #444;
  font-size: 70%;
}
ol  {
  padding-left: 22px;
}
a:active, .btn:active, a.btn:active {
  background: blue;
  color: white !important;
  outline: 0;
  box-shadow: 0 0 0px 5px blue;
}
.isolated {
  padding: 0.25em;
  margin: 1em;
  display:inline-block;
}
.box.gettocar {
  padding-top: 8px;
}
.gettocar h4 {
  text-align: center;
}
.box.login {
  padding: 20px;
  box-sizing: border-box;
}
.login img {
  margin-right: 10px;
  vertical-align: top;
}
.login h1 {
  margin: 18px 0 24px;
  text-align:center;
}
form input {
  display: block;
  width: 99%;
  font-size: 24px;
  margin: 12px -3px;
  padding: 0.5%; 
}
form input[type="submit"] {
  display: inline-block;
  font-size: 18px;
  margin: 6px -1px;
  padding: 4px 0;
  text-indent: 10px;
  border-width: 1px;
  width: 100%;
}
.waive-green {
  color: #25c155;
}
.map {
  display: block;
  background: white;
  text-align: center;
  width: 100%;
  position: relative;
}
.map .content {
  display: inline-block;
  position: relative;
}
.map .img {
  position: absolute;
}
.map .nop {
  background: url('/img/circle-logo_32.gif') no-repeat;
  box-shadow: 0px 0px 1px #777;
  background-position: center;
}
.map img {
  max-width: 100%;
  background-position: center; 
}
.map-controls {
  position: absolute;
  top: 0;
  left: 0;
}
.map-controls a {
  background: rgba(240,240,255,0.9);
  border-width: 0;
  padding: 3px 8px;
  margin: 0 0.5em 0 0;
}
#acnt {
  display:block;
  text-align:right;
  margin: -20px 4px 0 0;
}
.btn {
  text-align: center;
  display: inline-block;
  padding: 4px;
  border: 1px solid blue;
  background: rgba(0,0,255,0.03);
  color: blue;
}
.action-list li {
  display: inline;
  font-size: 0;
} 
.action-list a {
  display: inline-block;
  margin: 2% 1%;
  padding: 2% 1%;
  text-align: center;
  font-size: 16px;
}
.box {
  display: block;
  text-align: left;
  background: white;
  padding: 1% 2%;
  margin: 0 auto 6px auto;
  width: 94%;
  box-shadow: 0 0 6px 2px rgba(96,96,96,0.2);
}
.center {
  text-align: center;
}
.account ul {
  margin-left: 1.25em;
}
.car-label, .car-distance {
  display: inline-block;
}
.car-label {
  width: 45%;
}
.car-row h3 {
  font-size: 22px;
}

.car-row li {
  display:block;
  text-align: left;
  background: #fff;
  padding: 8px;
  margin-top: 4px;
  line-height: 28px;
  width: auto;
}
.car-row a {
  line-height: 15px;
}
.car-row .btn {
  float:right;
  line-height: 16px;
}

.wid-1, .wid-2 {
  padding: 9px 0;
}
.wid-1 {
  width: 100%;
  margin: 9px -1px;
}
.wid-2 {
  width: 45.2%;
}
.image-upload input {
  vertical-align: middle;
  width: 98%;
  padding: 2% 0;
}
.preferred {
  color: rgb(0,64,0);
  background: rgba(0,127,0,0.1);
  font-size: 105%;
  border-color: green;
}
.primary {
  border-width: 2px;
  font-weight: 600;
}
a.ignored {
  color: grey;
  border-color: grey;
  background: white;
}
.ignored:active {
  background: lightgrey;
  box-shadow: 0 0 0px 5px grey;
}
a.danger {
  color: red;
  border: 1px solid red;
  background: rgba(230,0,0,0.05);
}
a.danger:active {
  background: rgb(255,0,0);
  box-shadow: 0 0 0px 5px red;
}
#sorter {
  text-align: center;
  margin-right: 10px;
}
#sorter a {
  margin: 0 5px;
}
.box.prompt {
  padding: 0;
  width: 96%;
}
.prompt .content, .prompt h1 {
  padding: 15px 22px;
}
.prompt .copy {
  padding: 4px 0;
}
.prompt h1 {
  background: rgb(127,127,140);
  font-weight: bold;
  font-size: 22px;
  color: white;
  margin: 0;
}
.box.error {
  background: rgb(255,216,216, 0.4);
  font-weight: 400;
  padding: 0;
  width: auto;
}
.error .content {
  padding: 0.5em;
}
.error .message {
  margin: 0.75em 0;
}
.error .options {
  text-align: right;
}
.error .title {
  background: rgb(216,127,127);
  padding: 0.5em;
  font-weight: bold;
  color: #fff;
}
.error p {
  margin: 0 0 0.5em;
}
.error .btn {
  padding: 0.25em 0.5em;
  background: rgba(255,255,255,0.4);
}
.fuel {
  width: 100%;
  height: 3px;
  background: #ddd;
  margin-top: -3px;
}

.fuel div {
  height: 100%;
  background: #7d7;
}
.submit {
  margin-top: 18px;
}
