RewriteEngine On
RewriteBase /

Header set Access-Control-Allow-Origin "*"

RewriteRule ^(parking|revenue)(.*)$ /admin/$1.php [L]
RewriteRule ^me$ /me.php [L]
RewriteRule ^charge$ /chargeList.php [L]
RewriteRule ^fast$ /shortcuts.php [L]
RewriteRule ^do/(.*)$ /get.php?what=$1 [L]
RewriteRule ^start/(.*)$ /charge.php?charger=$1 [L]
RewriteRule ^book/(.*)$ /api/carcontrol.php?action=reserve&car=$1 [R=301,L]
RewriteRule ^Control/(.*)$ /api/carcontrol.php?%{QUERY_STRING}&action=$1 [L]
RewriteRule ^control/(.*)$ /api/carcontrol.php?%{QUERY_STRING}&action=$1 [L]
RewriteRule ^(lock|unlock|end)$ /api/carcontrol.php?%{QUERY_STRING}&action=$1 [L]
RewriteRule ^(show|hide)$ /api/control.php?action=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

