a {
  text-decoration: none;
}
body {
  margin: 0;
  max-width: auto;
  font-family: sans-serif;
}
span {
  display: inline-block;
}
img {
  width: 100%;
  vertical-align: top;
}
.car-name {
  display: inline-block;
  margin: 0 0 0.25rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}
.car-sheet {
  width: 380px;
  padding: 0 0.25rem 0 0;
  margin: 0 0.25rem 0.5rem 0;
  box-shadow: 0 0 2px grey;
  height: 240px;
  vertical-align: top;
  position: relative;
  font-size:0;
}
.pinned {
  box-shadow: 0px 0px 0 4px rgba(64,96,64,0.5) inset;
}
.action {
  position: absolute;
  bottom: 0.5rem;
  text-align: right;
  right: 0.5rem;
}
.action a.danger {
  border: 1px solid red;
  color: red;
  padding: 0.12rem;
  margin: 0.12rem;
  font-size: 10px;
}
.action a {
  border: 1px solid blue;
  color: blue;
  padding: 0.25rem;
}
.info {
  padding: 0.5rem 0;
  font-size: 12px;
  padding-left: 1%;
  width: 50%;
}
.img-wrap {
  background: rgba(216,216,216,0.3);
  width: 48%;
  overflow: hidden;
  height: 100%;
  vertical-align: top;
}
.park-claim {
  font-size: 1em;
}
.addrtop {
  margin-top: .25rem;
}
.prev {
  float: left;
}
.nav {
  text-align: right;
  color: blue;
  cursor: pointer;
}
.nav .disabled {
  color: grey;
  cursor: default;
}
.guess-wrap {
  margin-top: 0.5rem;
}
.guess {
  background: #ddd;
  display: none;
}
.guess div {
  padding: 0.25rem 0.5rem;
}
.guess h4 {
  text-indent: 0.5rem;
  margin: -.25rem 0 .15rem;
  background: #3EAFBE;
  color: white;
  padding: 0.25rem 0;
  font-family: sans-serif;
  font-weight: 400;
}
